<div class="p-4">
  <h2>Quản lý sản phẩm</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Hình ảnh</th>
      <th scope="col">Giá</th>
      <th scope="col">
        <a  [routerLink]="['/product-add']" class="btn btn-primary">Thêm mới</a>
      </th>
    </tr>
  </thead>
  <tbody *ngFor="let product of products">
    <tr>
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>
        <img class="card-img-top" src="{{ product.image }}" alt="" style="width: 200px;">
      </td>
      <td>{{ product.price }}</td>
      <td>
        <button class="btn btn-primary" (click)="removeItem(product.id)">Xóa</button>
        &nbsp;
        <button class="btn btn-primary">Sửa</button>
      </td>
    </tr>

  </tbody>
</table>

